#instructions-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}

#instructions-container.six {
  transform: scale(1);
}
#instructions-container.six .instructions-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#instructions-container.six .instructions-background .instructions {
  background-color: transparent;
  animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#instructions-container.six .instructions-background .instructions h2,
#instructions-container.six .instructions-background .instructions p {
  opacity: 0;
  position: relative;
  animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#instructions-container.six
  .instructions-background
  .instructions
  .instructions-svg
  rect {
  animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#instructions-container.six.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#instructions-container.six.out .instructions-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#instructions-container.six.out .instructions-background .instructions {
  animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#instructions-container.six.out .instructions-background .instructions h2,
#instructions-container.six.out .instructions-background .instructions p {
  animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#instructions-container.six.out
  .instructions-background
  .instructions
  .instructions-svg
  rect {
  animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#instructions-container .instructions-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#instructions-container .instructions-background .instructions {
  background: white;
  padding: 50px 50px 10px 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#instructions-container .instructions-background .instructions h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#instructions-container .instructions-background .instructions p {
  font-size: 18px;
  line-height: 22px;
}
#instructions-container
  .instructions-background
  .instructions
  .instructions-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#instructions-container
  .instructions-background
  .instructions
  .instructions-svg
  rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}
.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

.controls .keyboard {
  padding: 2.5em 0;
  width: 320px;
  margin: 0 auto;
}
/* Top row for keyboard */
.controls .keyboard .top-row {
  width: 85px;
  /* Off Centered */
  /* width: 190px; */
  margin: 0 auto;
}
/* Bottom row for keyboard */
.controls .keyboard .bottom-row {
  display: inline-flex;
}

/* Style for each Key */
.controls .keyboard .key {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353943;
  border: 1px solid #834426;
  box-shadow: 5px 5px #c2b7ab;
  color: #ffffff;
  width: 50px;
  height: 50px;
  margin: 15px;
  text-align: center;
  top: 0;
  left: 0;
  transition: all 0.07s ease;
}
/* Active Class for Key */
.controls .keyboard .activeKey {
  transform: scale(1.1);
  position: relative;
  top: 0.2em;
  left: 0.2em;
  box-shadow: 0 0 0 0;
}
/* Sets font size for each Key */
.controls .keyboard .key > p {
  font-size: 2em;
}

.or-spacer-vertical {
  display: inline-block;
  margin-top: 100px;
  margin-left: 100px;
  width: 100px;
  position: relative;
}
.or-spacer-vertical .mask {
  overflow: hidden;
  width: 20px;
  height: 200px;
}

.or-spacer-vertical.right .mask:before {
  content: "";
  display: block;
  margin-left: 20px;
  width: 20px;
  height: 100%;
  border-radius: 12px / 125px;
  box-shadow: 0 0 8px black;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls .divider {
  width: 55px;
}

.controls .mouse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.controls .mouse p {
  font-size: 1em;
}

.controls .mouse img {
  width: 230px;
}

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -20px;
  }
}

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 778;
  }
}

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes modalFadeIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #f4f4f4;
  }
}
@keyframes modalFadeOut {
  0% {
    background-color: #f4f4f4;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes quickScaleDown {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
  }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
}
@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1);
  }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
  }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3);
  }
}
