[data-folio] {
  line-height: 1;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

[data-folio] div,
[data-folio] span,
[data-folio] applet,
[data-folio] object,
[data-folio] iframe,
h1,
[data-folio] h2,
[data-folio] h3,
[data-folio] h4,
[data-folio] h5,
[data-folio] h6,
[data-folio] p,
[data-folio] blockquote,
[data-folio] pre,
a,
[data-folio] abbr,
[data-folio] acronym,
[data-folio] address,
[data-folio] big,
[data-folio] cite,
[data-folio] code,
del,
[data-folio] dfn,
[data-folio] em,
[data-folio] ins,
[data-folio] kbd,
[data-folio] q,
[data-folio] s,
[data-folio] samp,
small,
[data-folio] strike,
[data-folio] strong,
[data-folio] sub,
[data-folio] sup,
[data-folio] tt,
[data-folio] var,
b,
[data-folio] u,
[data-folio] i,
[data-folio] center,
dl,
[data-folio] dt,
[data-folio] dd,
[data-folio] ol,
[data-folio] ul,
[data-folio] li,
fieldset,
[data-folio] form,
[data-folio] label,
[data-folio] legend,
table,
[data-folio] caption,
[data-folio] tbody,
[data-folio] tfoot,
[data-folio] thead,
[data-folio] tr,
[data-folio] th,
[data-folio] td,
article,
[data-folio] aside,
[data-folio] canvas,
[data-folio] details,
[data-folio] embed,
[data-folio] figure,
[data-folio] figcaption,
[data-folio] footer,
[data-folio] header,
[data-folio] hgroup,
[data-folio] menu,
[data-folio] nav,
[data-folio] output,
[data-folio] ruby,
[data-folio] section,
[data-folio] summary,
time,
[data-folio] mark,
[data-folio] audio,
[data-folio] video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

[data-folio] ol,
[data-folio] ul {
  list-style: none;
}

[data-folio] table {
  border-collapse: collapse;
  border-spacing: 0;
}

[data-folio] [data-icon]:before,
[data-folio] [data-icon]:after {
  content: "";
}

[data-folio] {
  position: relative;
}
